/** BOOTSTRAP SETTINGS **/
// Change default width of containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 850px,
  xl: 900px,
  xxl: 900px
);

// change default breakpoints of containers
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 896px,
  xl: 1000px,
  xxl: 1000px
);